[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==0.24.1"
craft-ai = "==1.15.0"

[dev-packages]

[requires]
python_version = "3.5"

[scripts]
start = "python src/main.py"
prepare = "python src/prepare.py"
