[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
craft-ai = "==2.0.0"

[dev-packages]

[requires]
python_version = "3.6"

[scripts]
start = "python src/main.py"
prepare = "python src/prepare.py"
